
  .chat-input-box {
    display: flex;
    /* height: 3rem; */
    align-items: center;
    background: #f0f0f0;
    justify-content: space-between;
  }

    
  .emoji-selector {
    width: 5%;
    text-align: center;
  }
  .chat-input {
    width: 90%;
  }

  .chat-input input {
    height: 2rem;
  }
  input:focus {
    outline: none;
  }
  
  .send {
    width: 5%;
    text-align: center;
  }
  
  .icon {
    width: 0.75rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  .Blink {
    position: absolute;
    bottom:55%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate; */
  }