.chats {
    flex: 1;
    padding: 0 2rem; 
    overflow-y: auto; 
  }
  .message.received::before {
    position: absolute;
    left: -10px;
    top: 0;
    content: '';
    display: block;
    border: solid;
    border-width: 0px 16px 16px 0px;
    border-color: transparent;
    border-right-color: #c7e5f7;
  }
  .message.received {
    padding-right: 20px;
    background: #c7e5f7;
    border-radius: 0px 5px 5px 5px;
    float: left;
  }
  .message.sent::before {
    left: auto;
    right: -28px;
    border-width: 0px 16px 16px 16px;
    border-color: transparent;
    border-left-color: #fff;
  }
  
  .message.sent {
    background: #fff;
    border-radius: 5px 0px 5px 5px;
    float: right;
  }
  
  .message.received:hover  .button-delete {
    /* background: #abdaf8; */
    display: inline-block;
  }

  .metadata {
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }
  
  .metadata .date {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
    display: inline-block;
  }
  .image{
    display: block;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .button-delete{
    position: absolute;
    display: none;
    right:0;
    top:0;
    max-height: 1px;
  }